<h1 class="text-center">Characters</h1>
<p></p>

<a routerLink="/create-character">Create a new character</a>

<p></p>

<form>
  <div class="form-group">
    <p>
      <input  />
      <input type="submit" value="Search by name" class="btn btn-primary" />
    </p>
    <a >Show all characters</a>
  </div>
</form>

<div class="row">
  <div class="col-sm-6 d-flex align-items-stretch">
    <div class="card w-100 mb-5">
      <div class="card-header text-center text-light">NAAM</div>
      <div class="card-body text-center">
        <i class="fas fa-hat-wizard" style="font-size: xx-large;"></i>
        <p></p>
        <h6 class="card-title">GENDER</h6>
        <h5 class="card-title">CLASSNAME</h5>
        <p class="card-text">DESCRIPTION</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Age: AGE</li>
        <li class="list-group-item">Favourite weapon: FW</li>
        <li class="list-group-item">Hometown: HT</li>
        <li class="list-group-item">Created by PLAYER</li>
      </ul>
      <div class="card-footer">
        <a >Edit |</a>
        <a >Delete</a>
      </div>
    </div>
  </div>
</div>
