<nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
  <a routerLink="/home" class="navbar-brand"
    ><i class="fas fa-dice-d20"> Roleplay</i></a
  >

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarMenu"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbarMenu"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [class.collapse]="isCollapsed"
    (window:resize)="isCollapsed = true"
  >
    <ul class="navbar-nav flex-grow-1">
      <li class="nav-item">
        <a
          (click)="isCollapsed = !isCollapsed"
          class="nav-link"
          [routerLink]="'/world'"
          >World</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="isCollapsed = !isCollapsed"
          class="nav-link"
          [routerLink]="'/rules'"
          >Rules</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="isCollapsed = !isCollapsed"
          class="nav-link"
          [routerLink]="'character'"
          >Characters</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="isCollapsed = !isCollapsed"
          class="nav-link"
          [routerLink]="'/adventure'"
          >Adventures</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="isCollapsed = !isCollapsed"
          class="nav-link"
          [routerLink]="'/session'"
          >Sessions</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="isCollapsed = !isCollapsed"
          class="nav-link"
          [routerLink]="'/privacy'"
          >Privacy</a
        >
      </li>
      <div *ngIf="user; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <li class="nav-item">
          <a
            (click)="[isCollapsed = !isCollapsed, logout()]"
            class="nav-link"
            >logout</a
          >
        </li>
      </ng-template>
      <ng-template #elseBlock>
        <li class="nav-item">
          <a
            (click)="isCollapsed = !isCollapsed"
            class="nav-link"
            [routerLink]="'/login'"
            >login</a
          >
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
