<div *ngIf="user; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock
  ><h1 class="display-4">Welcome {{ user.firstname }}!</h1></ng-template
>
<ng-template #elseBlock><h1 class="display-4">Welcome!</h1> </ng-template>

<p>
  <img
    class="img-thumbnail"
    src="../../assets/images/Library.png"
    width="500"
    height="250"
  />
</p>
<p>
  Image by
  <a
    href="https://pixabay.com/users/starglade-768093/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4109212"
    >Colleen O'Dell</a
  >
  from
  <a
    href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4109212"
    >Pixabay</a
  >
</p>
<div class="jumbotron">
  <p>Welkom op deze site voor en door roleplayers.</p>
  <hr />
  <p>Een plaats waar we als groep onze characters en avonturen kunnen delen!</p>
  <p>
    Onze gamemaster kan ook een sessie plannen en nadien een samenvatting van
    onze avonturen toevoegen.
  </p>
  <p>Kijk gerust eens rond en veel plezier met roleplayen!</p>
</div>
