<h1 class="text-center">Adventures</h1>
<p></p>
<a routerLink="add/0">Create a new adventure</a>
<p></p>
<div class="container">
  <div class="row">
    <div
      class="col-sm-6 d-flex align-items-stretch"
      *ngFor="let adventure of adventures"
    >
      <div class="card w-100 mb-5">
        <div class="card-header text-center text-light">
          {{adventure.title}}
        </div>
        <div class="card-body text-center h-100">
          <h5 class="card-title">Summary</h5>
          <p class="card-text">{{adventure.summary}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Genre: {{adventure.genre}}
          </li>
          <li class="list-group-item">
            Villain: {{adventure.mainVillain}}
          </li>
          <li class="list-group-item">
            Created by {{adventure.userName}}
          </li>
        </ul>
        <div class="card-footer">
          <a [routerLink]="['edit', adventure.adventureID]">Edit |</a>
          <a routerLink="/adventure" (click)="onDelete(adventure.adventureID)"> Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
